/* * {
    box-sizing: border-box;
  }
  ul {
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }
  li {
    flex: 0 0 33%;
    padding: 0.5em;
    display: flex;
    align-items: flex-end;
  }

  .round-border {
    border: 1px solid silver;
    border-radius: 10px;
  }

  .search-bar {
    display: block;
    margin: 0 0.5rem 0.3rem 0.5rem;
} */
.slds-card {
  background: rgb(243, 242, 242);
}

.search-bar {
  display: block;
  margin: 0 0.5rem 0.3rem 0.5rem;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

c-dish-tile-component {
  min-width: 200px;
  flex: 1;
}

c-paginator {
  display: block;
}